{% extends 'base.html' %} {%block content %}
<div class="bg-img">
    <a href=" {{ url_for('index') }}"><i class="material-icons close-icon">highlight_off</i></a>
    <div class="container">
        <h2 class="title">Add Recipe</h2>
        <form method="POST" class="form-width">
            <div class="row">
                <div class="input-field col s12">
                    {{ form.hidden_tag() }} {{ form.recipe_name(placeholder="Chicken & chorizo jambalaya") }}
                    <label for="recipe_name">Recipe Name</label>
                </div>
                <div class="input-field col s12">
                    {{ form.hidden_tag() }} {{ form.ingredients(class_="materialize-textarea", placeholder="1 tbsp olive oil, 2 chicken breasts, chopped, 1 onion, diced, 1 red pepper thinly sliced, 2 garlic cloves, crushed, 75g chorizo sliced, 1 tbsp Cajun seasoning, 250g
                    long grain rice, 400g caplum tomat, 350ml chicen stock") }}
                    <label for="ingredients">Ingredients</label>
                </div>
                <div class="input-field col s12">
                    {{ form.hidden_tag() }} {{ form.description(class_="materialize-textarea", placeholder="A Cajun-inspired rice pot recipe with spicy Spanish sausage, sweet peppers and tomatoes") }}
                    <label for="description">Description</label>
                </div>
                <div class="input-field col s4">
                    {{ form.hidden_tag() }} {{ form.cooking_time(placeholder="55") }}
                    <label for="cooking_time">Cooking Time</label>
                </div>
                <div class="input-field col s4">
                    {{ form.hidden_tag() }} {{ form.serving_size(placeholder="4") }}
                    <label for="serving_size">Serving Size</label>
                </div>
                <div class="input-field col s4">
                    {{ form.hidden_tag() }} {{ form.calories(placeholder="445") }}
                    <label for="calories">Calories</label>
                </div>
                <div class="input-field col s6">
                    {{ form.hidden_tag() }} {{ form.health_labels(class_="materialize-textarea", placeholder="Chcicken, Meat") }}
                    <label for="health_labels">Health Labels</label>
                </div>
                <div class="input-field col s6">
                    {{ form.hidden_tag() }} {{ form.diet_labels(class_="materialize-textarea", placeholder="Low-fat, High-Protein") }}
                    <label for="diet_labels">Diet Labels</label>
                </div>
                <div class="input-field col s12">
                    {{ form.hidden_tag() }} {{ form.recipe_image(required=true, placeholder="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/user-collections/my-colelction-image/2015/12/recipe-image-legacy-id--1274503_8.jpg?itok=y2r-R0BV") }}
                    <label for="recipe_image">Recipe Image Address Link</label>
                </div>
                <div class="input-field col s12">
                    {{ form.hidden_tag() }} {{ form.source(placeholder="https://www.bbcgoodfood.com/recipes/1167651/chicken-and-chorizo-jambalaya") }}
                    <label for="source">Source URL</label>
                </div>
                <button class="btn waves-effect waves-light my-btn section hoverable" type="submit">Submit<i class="material-icons right">send</i></button>
            </div>
        </form>
    </div>
    {% endblock %}
