{% extends 'base.html' %} {% block nav %} {% include '_navbar.html' %} {% endblock %} {% block content %}
<div class="row tp-search">
    <div class="col hide-on-small-only m3">
        <span class="v-align site-logo"><i class="small material-icons nav-icon">local_dining</i>Cookbook</span> {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %} {% endif %} {% endwith %}
    </div>
    <div class="col s12 m9">
        <form action="{{ url_for('search') }}" class="search-form">
            <div class="input-field col s12">
                <i class="material-icons prefix">youtube_searched_for</i>
                <input type="text" id="db_query" name="db_query" placeholder="Search">
                <button class="btn waves-effect waves-light search-btn" type="submit" name="action">GO
    <i class="material-icons right">send</i>
  </button>
                

            </div>
        </form>
    </div>
</div>

<!-- Page Layout here -->
<div class="row">

    <div class="col s12 m3">

        <ul class="collapsible">
            <li class="active">
                <div class="collapsible-header">Diet Labels<i class="material-icons dropdown-icon">arrow_drop_down</i></div>
                <div class="collapsible-body">
                     <form action="{{ url_for('filtered') }}" method="POST">
                        <p>
                             <label>
                            <input name="diet_labels" type="radio" value="Low-Carb" />
                              <span>Low-Carb</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="diet_labels" type="radio" value="Fat-Free" />
                                    <span>Fat-Free</span>
                            </label>
                        </p>
                        <p>
                            <label>
                            <input name="diet_labels" type="radio" value="Gluten-Free"/>
                            <span>Gluten-Free</span>
                            </label>
                        </p>
                        <p>
                            <label>
                            <input name="diet_labels" type="radio" value="High-Protein" />
                            <span>High-Protein</span>
                          </label>
                        </p>
                        <p>
                            <label>
                            <input name="diet_labels" type="radio" value="Balanced" />
                            <span>Balanced</span>
                          </label>
                        </p>
                   
                        <button class="btn waves-effect waves-light filter-btn" type="submit">Submit</button>
                    </form>
                </div>
            </li>
        </ul>
        <ul class="collapsible">
            <li class="active">
                <div class="collapsible-header">Health Labels<i class="material-icons dropdown-icon">arrow_drop_down</i></div>
                <div class="collapsible-body">
                        <form action="{{ url_for('filtered') }}" method="POST">
                        <p>
                             <label>
                            <input name="health_labels" type="radio" value="Sugar-Conscious" />
                              <span>Sugar-Conscious</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="health_labels" type="radio" value="Peanut-Free" />
                                    <span>Peanut-Free</span>
                            </label>
                        </p>
                        <p>
                            <label>
                            <input name="health_labels" type="radio" value="Tree-Nut-Free"/>
                            <span>Tree-Nut-Free</span>
                            </label>
                        </p>
                        <p>
                            <label>
                            <input name="health_labels" type="radio" value="Alcohol-Free" />
                            <span>Alcohol-Free</span>
                          </label>
                        </p>
                        <p>
                            <label>
                            <input name="health_labels" type="radio" value="Vegan" />
                            <span>Vegan</span>
                          </label>
                        </p>
                          <p>
                            <label>
                            <input name="health_labels" type="radio" value="Vegetarian" />
                            <span>Vegetarian</span>
                          </label>
                        </p>
                   
                        <button class="btn waves-effect waves-light filter-btn" type="submit">Submit</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>


  <div class="col m9">
        {% for r in results %}
        <div class="col s12 m4">
            <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ r['recipe_image'] }}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{ r['recipe_name'] }}<i class="material-icons right">arrow_drop_up</i></span>
                    <p><a href="{{url_for('recipe', recipe_id=r._id)}}">View Recipe</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{ r['recipe_name'] }}<i class="material-icons right">close</i></span>

                    <div class="container">
                        <div class="row ">
                            <div class="col s12 ">
                                <span class="valign-wrapper center-text"><i class="small material-icons">timer</i> Time: {{ r['cooking_time'] }} Min</span>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col s12">
                                <span class="valign-wrapper"><i class="small material-icons">local_dining</i>Servings: {{ r['serving_size'] }}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <span class="valign-wrapper"><i class="small material-icons">whatshot</i>Calories: {{ r['calories'] }}</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}


        <!-- end of col-9 -->
    </div>
    <!-- end of row -->
</div>
{% endblock %} {% block footer %} {% include '_footer.html' %} {% endblock %}



    


