{% extends 'base.html' %}
{% block nav %}
{% include '_navbar.html' %}
{% endblock %}

{% block content %}
<h3 class="center-align">Welcome to my Cookbook</h3>
<!-- Page Layout here -->
<div class="row">

    <div class="col s3">


        <!-- Grey navigation panel -->
    </div>

    <div class="col m9">
        
        {% for r in recipe %}
        <div class="col s12 m4">
            <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ r['recipe_image'] }}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{ r['recipe_name'] }}<i class="material-icons right">arrow_drop_up</i></span>
                    <p><a href="{{url_for('recipe', recipe_id=r._id)}}">View Recipe</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{ r['recipe_name'] }}<i class="material-icons right">close</i></span>

                    <div class="container">
                        <div class="row ">
                            <div class="col s12 ">
                                <span class="valign-wrapper center-text"><i class="small material-icons">timer</i> Time: {{ r['cooking_time'] }} Min</span>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col s12">
                                <span class="valign-wrapper"><i class="small material-icons">local_dining</i>Servings: {{ r['serving_size'] }}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <span class="valign-wrapper"><i class="small material-icons">whatshot</i>Calories: {{ r['calories'] }}</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}


            <ul class="pagination">
                <li class="disabled"><i class="material-icons">chevron_left</i></li>
                {% for page_number in pages %}
                {% if page_number == current_page %}
                <li class="active"><a href="#">{{ page_number }}</a></li>
                {% else %}
                <li class="waves-effect"><a href="{{ url_for('index', current_page=page_number) }}">{{ page_number }}</a></li>
                {% endif %}
                {% endfor %}
                <li class="disabled"><i class="material-icons">chevron_right</i></li>
            </ul>




        <!-- end of col-9 -->
    </div>






    <!-- end of row -->
</div>
{% endblock %}

{% block footer %}
{% include '_footer.html' %}
{% endblock %}
