@mixin headings {
    font-family: 'Margarine', cursive;
    color: #303236;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}

@mixin txt-hvr {
    color: $txt-hvf-color;
    text-decoration: none;
}

@mixin text {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
}

@mixin clear {
    margin: 0;
    padding: 0;
}

@mixin btn-style {
    border-radius: 2px;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: content-box;
    font-size: 14px;
    line-height: 42.88px;
    height: 39.88px;
    padding: 0 18px;
    display: inline-block;
    text-decoration: none;
    border: 0px;
    font-weight: 500;
    color: #fff;
    background-color: #f26226;
    outline: none;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
