@mixin headings {
    font-family: monospace;
    color: #303236;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}