@import "helpers",
"mixins";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Margarine');

/*
font-family: 'Margarine', cursive;
font-family: 'Josefin Sans', sans-serif;
*/

/* Global styles */

::selection {
    background: $prim-color;
}

::moz-selection {
    background: $prim-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include headings
}

p,
span,
a,
div,
    {
    @include text
}

label {
    color: $black;
}

.clear {
    @include clear;
}

nav ul li {
    padding: 0px 10px;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
    background-color: $prim-color;
    border: 2px solid $prim-color;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: $prim-color;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover{
    color: $sec-color;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid $prim-color;
    -webkit-box-shadow: 0 1px 0 0 $prim-color;
    box-shadow: 0 1px 0 0 $prim-color;
}

.btn:focus,
.btn-large:focus,
.btn-small:focus,
.btn-floating:focus {
    background-color: $prim-color;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label {
    color: $prim-color;
}

input[type=text]:not(.browser-default),
#db_query,
input[type=password]:not(.browser-default) {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    color: black;
    width: 100%;
}

#db_query {
    width: 80%;
}

::placeholder {
    color: #808080;
}


textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $prim-color;
    -webkit-box-shadow: 0 1px 0 0 $prim-color;
    box-shadow: 0 1px 0 0 $prim-color;
}



.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid $prim-color;
}

.input-field .prefix.active {
    color: $prim-color;
}

textarea.materialize-textarea:focus:not([readonly])+label {
    color: $prim-color;
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid $prim-color;
    border-bottom: 2px solid $prim-color;
}


textarea.materialize-textarea.valid {
    border-bottom: 1px solid $prim-color;
    -webkit-box-shadow: 0 1px 0 0 $prim-color;
    box-shadow: 0 1px 0 0 $prim-color;
}

input.valid[type=text]:not(.browser-default) {
    border-bottom: 1px solid $prim-color;
    -webkit-box-shadow: 0 1px 0 0 $prim-color;
    box-shadow: 0 1px 0 0 $prim-color;
}

input[type=text]:not(.browser-default):active:not([readonly]) {
    border-bottom: 1px solid $prim-color;
    -webkit-box-shadow: 0 1px 0 0 $prim-color;
    box-shadow: 0 1px 0 0 $prim-color;
}

input[type=text]:not(.browser-default):visited:not([readonly]) {
    border-bottom: 1px solid $prim-color;
    -webkit-box-shadow: 0 1px 0 0 $prim-color;
    box-shadow: 0 1px 0 0 $prim-color;
}

input[type=password]:not(.browser-default) {
    color: $white;
}

input[type=text]:not(.browser-default) {
    @include text;
    color: $white;
}

.select-wrapper input.select-dropdown {
    color: black;
}

textarea {
    width: 100%;
    height: 6rem;
    background-color: transparent;
    @include text;
    color: $white;
}

a {
    color: $prim-color;
}

a:hover {
    color: $sec-color;
}


/* Home Page page styles */

.left-align {
    text-align: left !important;
}

.icon_style {
    position: absolute;
    right: 10px;
    top: 13px;
    font-size: 30px;
    color: white;
    cursor: pointer
}

.inner-card-text {
    font-weight: 600;
}

.inner-card-row {
    text-align: center;
    margin: 0;
}

.inner-card-container {
    width: 88%;
    top: 20%;
    position: absolute;
}

.inner-close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: $prim-color;
}

#alert_box {
    margin-bottom: 0;
    width: 80%;
}

.alert {
    font-size: 24px;
    text-align: center;
    margin: 0;
}

.alert-bg {
    background-color: $sec-color;
}

.card-alert .card-content-alert {
    padding: 10px;
}

.card-alert {
    position: relative;
    margin: 1rem 0 1rem 0;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
}

.card-alert {
    webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}




.site-logo {
    font-size: 30px;
    color: $sec-color;
    font-family: 'Margarine', cursive;
    width: 100%;
    margin: auto;
    justify-content: center;
}

i.right {
    float: right;
    margin-left: 5px;
}

i.medium {
    font-size: 3rem;
}


.search-btn {
    border-radius: 2px;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: content-box;
    padding: 0 20px;
    display: inline-block;
    text-decoration: none;
    color: #000;
    border: 2px solid;
    font-size: 20px;
    border-color: #f26226;
    outline: none;
    background-color: transparent;
    font-family: 'Margarine', cursive;
}

.search-btn:hover {
    color: $white;
    background-color: #f26226;
}

i.small {
    font-size: 2.2rem;
    padding-right: 5px;
}

.search-form {
    padding: 5px 0px;
}

.tp-search {
    display: flex;
    align-items: center;
    background: #f7f7f7;
    padding: 10px 0;
    border-bottom: solid 1px #e4e6eb;
    height: 15vh;
}

.card .card-title {
    font-size: 21px;
    font-weight: 300;
    text-align: left;
    padding: 16px 24px;
}

.collapsible-header .dropdown-icon {
    position: absolute;
    right: 5px;
    font-size: 2rem;
    line-height: 0.7;
}

.pagination {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    font-family: 'Margarine', cursive;
}

.pagination li.active {
    background-color: $sec-color;
}

.collapsible-header {
    position: relative;
    font-size: 18px;
    font-weight: 500;
}

.filter-btn {
    background-color: transparent;
    width: 100%;
    border-radius: 2px;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    color: black;
    outline: none;
    border: 2px solid #f26226;
    text-decoration: none;
    line-height: 1;
    font-family: 'Margarine', cursive;
}

.filter-btn:hover {
    background-color: #f26226;
    color: $white;

}


/* Register page Styles */

.outer-container {
    height: 100vh;
    display: flex;
    width: 100vw;
    overflow: hidden;
    justify-content: center;
}

.middle-container {
    display: flex;
}

.inner-container {
    margin: auto;
    min-width: 500px;
}

.close-icon {
    position: fixed;
    top: 0.3em;
    right: 0.5em;
    font-size: 3.5rem;
    color: #fff;
}

.close-icon:hover {
    color: $prim-color;
}

.bg-img {
    background-color: rgba(39, 55, 73, 0.98);
    color: #fff;
    overflow: auto;
    height: 100vh;
}

.title {
    font-family: 'Margarine', cursive;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 20px;
}

.my-btn {
    border-radius: 2px;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: content-box;
    font-size: 14px;
    line-height: 47.88px;
    height: 47.88px;
    padding: 0 35px;
    display: inline-block;
    text-decoration: none;
    border: 0px;
    font-weight: 500;
    color: $white;
    background-color: $prim-color;
    outline: none;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    float: right;
}

.my-btn:hover {
    background-color: rgba(46, 98, 175, 0.9);
    color: #fff;
}



/* Navbar Styles */

nav {
    color: $txt-color;
    background-color: $white;
    width: 100%;
}

nav .brand-logo {
    position: absolute;
    color: $txt-color;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
}

nav ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color: $txt-color;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

nav i,
nav [class^="mdi-"],
nav [class*="mdi-"],
nav i.material-icons {
    display: inherit;
    font-size: 30px;
    padding: 0px 5px 0px 5px;
    color: $sec-color;
}

.v-align {
    display: -webkit-box;
    display: -webkit-inline-flex;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo {
    font-size: 30px;
    color: $sec-color;
    font-family: 'Margarine', cursive;
}

.sign-up {
    border-radius: 2px;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: content-box;
    font-size: 14px;
    line-height: 50.88px;
    height: 47.88px;
    padding: 0 35px;
    display: inline-block;
    text-decoration: none;
    border: 0px;
    font-weight: 500;
    color: $white;
    background-color: $prim-color;
    outline: none;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.add-recipe {
    border-radius: 2px;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: content-box;
    font-size: 14px;
    line-height: 42.88px;
    height: 39.88px;
    padding: 0 18px;
    display: inline-block;
    text-decoration: none;
    border: 0px;
    font-weight: 500;
    color: #fff;
    background-color: $prim-color;
    outline: none;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.1em
}

.my-recipes {
    border-radius: 2px;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: content-box;
    font-size: 14px;
    line-height: 42.88px;
    height: 39.88px;
    padding: 0 18px;
    display: inline-block;
    text-decoration: none;
    border: 0px;
    font-weight: 500;
    color: #fff;
    background-color: $sec-color;
    outline: none;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.my-recipes:hover {
    background-color: $prim-color;
}

nav ul a:hover {
    background-color: rgba($sec-color, 0.9);
    color: $white;
}

.no-hvr:hover {
    background-color: transparent !important;
    color: $txt-hvr-color;
}

/* Footer Styles */

.ft-user {
    float: right;
}

.ft-me {
    float: left;
}

.site-footer {
    color: #fff;
    background-color: $sec-color;
}

.site-footer .footer {
    overflow: hidden;
    min-height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(51, 51, 51, 0.08);
}

/* Single Recipe view styles */

.page-container {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
}

.restrict-btn {
    padding: 2rem;
    color: $sec-color;
}

.recipe-description {
    padding: 2rem;
    font-size: 22px;
}


.recipe-ingredients {
    font-size: 22px;
    padding: 0rem 2rem;
}

.ingredients-section {
    padding: 0rem 2rem;
}

.labels {
    font-size: 21px;
}

.user {
    padding: 0rem 2rem;
    font-size: 21px;
}


.user-section {
    padding: 0rem 2rem;
}

.source-btn {
    padding: 0rem 2rem;
}

.recipe-icons {
    font-size: 22px;
    padding: 2rem;
}

.btn-style {
    @include btn-style
}

.btn-centre {
    display: inline-flex;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.btn-style:hover {
    background-color: rgba(46, 98, 175, 0.9);
    color: #fff;
}

div .row .section {
    margin-bottom: 0px;
}

.nut-icons {
    text-align: center;
}

img.responsive-img {
    width: 100%;
}


/* Home page media queries */

@media only screen and (max-width: 992px) {
    nav .sidenav-trigger {
        height: 56px;
        position: absolute;
        right: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .logo {
        font-size: 20px;
    }
    .input-field.col .prefix~label,
    .input-field.col .prefix~.validate~label {
        font-size: 18px;
    }

    .collapsible-header {
        font-size: 20px;
    }

    .collapsible-body {
        font-size: 18px;
    }
    p,
    span,
    a,
    div {
        font-family: 'Josefin Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 2px;
        font-size: 17px;
    }
    .card .card-content .card-title i {
        font-size: 50px;
    }
    #inner-title {
        font-size: 23px;
        font-weight: 300;
        line-height: 1;
    }
    .inner-card-text {
        font-size: 25px;
    }
    .inner-card-icon {
        margin-right: 10px;
    }
    .inner-card-container {
        margin-top: 5rem;
    }
}

@media only screen and (min-width: 601px) {
    nav,
    nav .nav-wrapper i,
    nav a.sidenav-trigger,
    nav a.sidenav-trigger i {
        height: 64px;
        line-height: 64px;
    }
}

@media only screen and (min-width: 1824px) {
    nav {
        height: 100px;
        line-height: 100px;
    }

}

/* Login/register Media Queries */

@media only screen and (min-width: 1600px) {
    .inner-container {
        min-width: 500px;
        margin-top: 50%;
    }
    .tp-search {
        height: 10vh;
    }
    .inner-close-icon {
    top: 24px;
    right: 24px;
}
}

@media only screen and (max-width: 768px) {

    .title {
        font-size: 70px;
    }
    .input-field {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 20px;
    }
    input[type=text]:not(.browser-default) {
        font-size: 20px;
    }
    .btn i {
        font-size: 1.4rem;
    }
    .my-btn {
        font-size: 20px;
        height: 50.88px;
        padding: 0 13px;
        font-weight: 400;

    }
}

@media only screen and (max-width: 600px) {
    .inner-container {
        min-width: 90%;
        margin-top: 50%;

    }
    .title {
        font-size: 40px;
    }
    .input-field {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 15px;
    }
    input[type=text]:not(.browser-default) {
        font-size: 15px;
    }
    .btn i {
        font-size: 0.8rem;
    }
    .my-btn {
        font-size: 15px;
        height: 39.88px;
        padding: 0 13px;
        font-weight: 500;
        line-height: 24.88px;

    }
    .close-icon {
        top: 0.2em;
        right: 0.3em;
        font-size: 3rem;
    }
    .middle-container {
        width: 100%;
    }
}
